body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#bbd9f5 1.1px, transparent 1.1px),
    linear-gradient(to right, rgba(141, 203, 248, 0.8) 1.1px, #fdfcfb 1.1px);
  background-size: 22px 22px;
}

code {
  font-family: "Indie Flower", cursive, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*Общие стили по кнопкам*/
button {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  font-family: "Indie Flower", cursive;
  font-size: 20px;
  color: #001dbc;
  background-color: rgba(0, 0, 0, 0);

  cursor: pointer;
  transition: transform 0.2s;

  border: solid 3px #001dbc;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  box-shadow: 6px 10px 4px -6px hsla(0, 0%, 0%, 0.3);
}

/*Общие стили по вводу*/
input {
  text-align: center;
  width: 5rem;
  height: 1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Indie Flower", cursive;
  font-size: 14px;
  /*font-weight: bold;*/
  color: #001dbc;
}

/*Общие стили для таблиц*/
table {
  /*border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;*/
  font-family: "Indie Flower", cursive;
  font-size: 14px;
  /*font-weight: bold;*/
  color: #001dbc;
}

.table {
  border-collapse: collapse;
  /* width: 100%; */
}

.table td {
  text-align: center;
  border: solid 3px #001dbc;
  padding: 8px;
}

.table th {
  background-color: #c8daf5;
  text-align: center;
  border: solid 3px #001dbc;
  padding: 10px;
}

.calculate-button {
  margin-top: 0.5rem;
}

.spinner-container {
  opacity: 0.76;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  z-index: 1;
}

p {
  font-family: "Indie Flower", cursive;
  font-size: 14px;
  color: #001dbc;
}

h2,
h3,
h4 {
  font-family: "Indie Flower", cursive;
  color: #001dbc;
}

span {
  font-family: "Indie Flower", cursive;
  font-size: 14px;
  color: #001dbc;
}
