.amine_treatment {
    position: relative;
    height: 90vh; /* Высота контейнера по высоте окна просмотра */
}

.amine_absorber {
    width: 35rem;
    height: 35rem;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-45%, -51%);
}

.vapour-container {
    width: 7rem;
    height: 16rem;
    position: absolute;
    top: 35%;
    left: 47.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.vapour {
    width: 0.2rem;
    height: 1rem;
    background-color: #D6B656;
    border-radius: 0.5rem;
    top: -5rem;
    animation: evaporate 3s linear infinite;
}

.vapour:nth-child(2){
    left:-1rem;
    animation-delay: 200ms;
}
.vapour:nth-child(3){
    left:-2rem;
    animation-delay: 600ms;
}
.vapour:nth-child(4){
    left:1rem;
    animation-delay: 400ms;
}
.vapour:nth-child(5){
    left: 2rem;
    animation-delay: 800ms;
}
.vapour:nth-child(6){
    left: 1.5rem;
    animation-delay: 300ms;
}
.vapour:nth-child(7){
    left: 0.5rem;
    animation-delay: 950ms;
}
.vapour:nth-child(8){
    left: -1.2rem;
    animation-delay: 1200ms;
}
.vapour:nth-child(9){
    left: 0.87rem;
    animation-delay: 550ms;
}
.vapour:nth-child(10){
    left: -1.5rem;
    animation-delay: 750ms;
}

@keyframes evaporate {
    0% {
        transform: translateY(5rem);
    }
    100% {
        background-color: #066EAF;
        transform: translateY(-7rem);
    }
}



