.labs-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    font-family: "Indie Flower", cursive;
    font-size: 20px;
    color: #001dbc;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;

    margin: 0 5rem;
    border: solid 3px #001dbc;
    padding: 2rem;
    width: 14rem;
    height: 30rem;

    transition: transform 0.2s
}

.card-picture {
    background-size: cover;
    background-blend-mode: screen;
}

.labs-list img {
    width: 15rem;
    height: 10rem;
}
 .card:hover {
     transform: scale(1.05);
     box-shadow: 10px 10px 4px -6px hsla(0, 0%, 0%, 0.3);
}

 .card p {
     font-size: 1.2rem;
     font-weight: 300;
     text-transform: uppercase;
     text-align: center;
 }

 .card-details {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

.card-details ul {
    list-style: none;
    width: 90%;
    padding-left: 0;
}
.card-details ul li {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.35rem 0;
}

.card-details ul li:not(:last-child) {
    border-bottom: 1px solid #243cbe;
 }
